// src/app/home/home.page.scss

.animated-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  border-radius: 25px;
  background: linear-gradient(to bottom right, #1fce48, #2b3ac3); /* Background gradient */
}

.animated-text {
  font-size: 3rem; /* Adjust size as needed */
  font-weight: bold;
  font-family :cursive;
  color: #ffffff;
  text-transform: uppercase;
  animation: textAnimation 5s infinite alternate; /* Text animation */
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
    color: #ffffff;
  }
  25% {
    transform: scale(1.1);
    color: #ff4757;
  }
  50% {
    transform: scale(1.2);
    color: #f39c12;
  }
  75% {
    transform: scale(1.1);
    color: #3498db;
  }
  100% {
    transform: scale(1);
    color: #ffffff;
  }
}
